.DS_Store
.idea/
.project/
.vagrant/
.bundle/
*.retry
.galaxy_install_info
vagrant_ansible_inventory_default
local.config.yml
config.yml
drupal.make.yml
Vagrantfile.local
examples/prod/inventory
examples/prod/bootstrap/vars.yml
scripts/
drupal/
!provisioning/roles/**/config.yml


