.DS_Store
.idea/
.project/
.vagrant/
.bundle/
*.retry
vagrant_ansible_inventory_default
local.config.yml
config.yml
drupal.make.yml
Vagrantfile.local
examples/prod/inventory
examples/prod/bootstrap/vars.yml
scripts/
roles/
drupal/
