[Unit]
Description=Varnish Cache, a high-performance HTTP accelerator

[Service]
Type=forking
{% if varnish_pidfile %}
PIDFile={{ varnish_pidfile }}
{% endif %}
LimitNOFILE={{ varnish_limit_nofile }}
LimitMEMLOCK=82000
ExecStart=/usr/sbin/varnishd -a :{{ varnish_listen_port }} -T {{ varnish_admin_listen_host }}:{{ varnish_admin_listen_port }}{% if varnish_pidfile %} -P {{ varnish_pidfile }}{% endif %} -f {{ varnish_config_path }}/default.vcl -S {{ varnish_config_path }}/secret -s {{ varnish_storage }}
ExecReload=/usr/share/varnish/reload-vcl

[Install]
WantedBy=multi-user.target
