Unattended-Upgrade::Automatic-Reboot "false";

{% if security_autoupdate_mail_to %}
Unattended-Upgrade::Mail "{{ security_autoupdate_mail_to }}";
{% if security_autoupdate_mail_on_error %}
Unattended-Upgrade::MailOnlyOnError "true";
{% endif %}
{% endif %}

Unattended-Upgrade::Allowed-Origins {
        "${distro_id} ${distro_codename}-security";
//      "${distro_id} ${distro_codename}-updates";
};

Unattended-Upgrade::Package-Blacklist{
{% for package in security_autoupdate_blacklist %}
      "{{package}}";
{% endfor %}
}
