<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */

{% macro alias(host, root) %}
$aliases['{{ host }}'] = array(
  'uri' => '{{ host }}',
  'root' => '{{ root }}',
);

{% endmacro %}

{%- if drupalvm_webserver == 'apache' -%}
  {%- for vhost in apache_vhosts -%}
   {{ alias(vhost.servername, vhost.documentroot) }}
  {%- endfor -%}
{%- elif drupalvm_webserver == 'nginx' -%}
  {%- for host in nginx_hosts -%}
    {{ alias(host.server_name, host.root) }}
  {%- endfor -%}
{%- endif -%}
