<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */

{% for vhost in apache_vhosts %}
$aliases['{{ vhost.servername }}'] = array(
  'uri' => '{{ vhost.servername }}',
  'root' => '{{ vhost.documentroot }}',
);

{% endfor %}
