<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ domain }}.dev
    ServerAlias www.{{ domain }}.dev
    DocumentRoot /var/www/drupal-{{ drupal_core_version }}-dev
    <Directory "/var/www/drupal-{{ drupal_core_version }}-dev">
        Options FollowSymLinks Indexes
        AllowOverride All
    </Directory>
</VirtualHost>
