<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */

{% macro alias(host, root) %}
$aliases['{{ host }}'] = array(
  'uri' => '{{ host }}',
  'root' => '{{ root }}',
  'remote-host' => '{{ host }}',
  'remote-user' => '{{ vagrant_user }}',
  'ssh-options' => '-o PasswordAuthentication=no -i ~/.vagrant.d/insecure_private_key',
);

{% endmacro %}

{%- if drupalvm_webserver == 'apache' -%}
  {%- for vhost in apache_vhosts -%}
    {%- if vhost.documentroot not in _devtool_docroots -%}
      {{ alias(vhost.servername, vhost.documentroot) }}
    {%- endif -%}
  {%- endfor -%}
{%- elif drupalvm_webserver == 'nginx' -%}
  {%- for host in nginx_hosts -%}
    {%- if host.root not in _devtool_docroots -%}
      {{ alias(host.server_name, host.root) }}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
