<?php

/**
 * Drupal VM drush aliases.
 *
 * @see example.aliases.drushrc.php.
 */

{% for vhost in apache_vhosts %}
$aliases['{{ vhost.servername }}'] = array(
  'uri' => '{{ vhost.servername }}',
  'root' => '{{ vhost.documentroot }}',
  'remote-host' => '{{ vhost.servername }}',
  'remote-user' => 'vagrant',
  'ssh-options' => '-p {{ ansible_ssh_port }} -o PasswordAuthentication=no -i ~/.vagrant.d/insecure_private_key',
);

{% endfor %}
