{% if item.server_name_redirect is defined %}
server {
    listen       80;
    server_name  {{ item.server_name_redirect }};
    return       301 http://{{ item.server_name.split(' ')[0] }}$request_uri;
}
{% endif %}

server {
    listen {{ item.listen | default("80") }};

    server_name {{ item.server_name }};
    error_log /var/log/nginx/error.log info;
    root {{ item.root }};
    index index.php index.html index.htm;

{% if item.is_php is defined and item.is_php %}
    location / {
        # Don't touch PHP for static content.
        try_files $uri $uri/ /index.php?$query_string;
    }

    # Don't allow direct access to PHP files in the vendor directory.
    location ~ /vendor/.*\.php$ {
        deny all;
        return 404;
    }

    # Redirect common PHP files to their new locations.
    location ~ ^((?!.*(?:core)).*)/(install.php|rebuild.php) {
         return 301 $scheme://$host$1/core/$2$is_args$args;
    }

    # Use fastcgi for all php files.
    location ~ \.php$|^/update.php {
        fastcgi_split_path_info ^(.+?\.php)(|/.*)$;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $request_filename;
        fastcgi_intercept_errors on;
        fastcgi_read_timeout {{ php_max_execution_time }};
        include fastcgi_params;
        fastcgi_pass {{ php_fpm_listen }};
    }

    location @rewrite {
        rewrite ^ /index.php;
    }

    location ~ ^/sites/.*/files/styles/ {
        try_files $uri @rewrite;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location ~ (^|/)\. {
        return 403;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
    }
{% endif %}

    gzip on;
    gzip_proxied any;
    gzip_static on;
    gzip_http_version 1.0;
    gzip_disable "MSIE [1-6]\.";
    gzip_vary on;
    gzip_comp_level 6;
    gzip_types
        text/plain
        text/css
        text/xml
        text/javascript
        application/javascript
        application/x-javascript
        application/json
        application/xml
        application/xml+rss
        application/xhtml+xml
        application/x-font-ttf
        application/x-font-opentype
        image/svg+xml
        image/x-icon;
    gzip_buffers 16 8k;
    gzip_min_length 512;

{% if item.extra_parameters is defined %}
    {{ item.extra_parameters }}
{% endif %}
}
