[tideways]
extension="{{ php_tideways_module_path }}/{{ tideways_extension_name }}"
{% if tideways_api_key %}
tideways.api_key={{ tideways_api_key }}
{% else %}
tideways.auto_prepend_library=0
{% endif %}
