[XDebug]
zend_extension="{{ php_xdebug_module_path }}/xdebug-{{ php_xdebug_version }}.so"

xdebug.coverage_enable={{ php_xdebug_coverage_enable }}
xdebug.default_enable={{ php_xdebug_default_enable }}

xdebug.remote_enable={{ php_xdebug_remote_enable }}
xdebug.remote_connect_back={{ php_xdebug_remote_connect_back }}
xdebug.remote_host={{ php_xdebug_remote_host }}
xdebug.remote_port={{ php_xdebug_remote_port }}
xdebug.remote_handler=dbgp
xdebug.remote_log={{ php_xdebug_remote_log }}
xdebug.remote_autostart={{ php_xdebug_remote_autostart }}

xdebug.idekey="{{ php_xdebug_idekey }}"

xdebug.max_nesting_level={{ php_xdebug_max_nesting_level }}
